/* defeat box model */
* {
    box-sizing: border-box;
}

/* font family through out the website */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Banner designs at the top */
.banner {
    background-image: url("../images/banner-img-1366_x_768.jpg");
    background-size: cover;
    width: 100%;
}

.content {
    background-color: rgba(256, 256, 256, 0.5);
    height: 500px;
    padding: 90px 40px;
}

/* Banner designs at the top */

/* welcome heading for the site */


h1 {
    font-family: 'Playfair Display';
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #222222;
}

.heading {
    padding: 150px 0;
}

.heading h2 {
    font-family: 'Playfair Display';
    font-style: oblique;
    margin-top: 17px;
    font-size: 24px ;
    font-weight: 900;
    text-align: center;
    word-spacing: .2em;
    color: #222222;
}

/* design navigation for mobile */
.navigation {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 30%;
}

.logo img {
    width: 70px;
    border: 1px solid salmon;
    border-radius: 50%;
    transform: scale(1);
    transition: ease-in 0.6s;
}
.logo img:hover{
    transform: scale(2);
}

.menu {
    width: 70%;
    overflow: hidden;
}

.menu a {
    float: right;
    text-align: right;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    padding: 25px 4px;
    text-decoration: none;
    color: #222;
    transition: ease-in 0.5s;
    background-color: rgba(18, 97, 128, 0.3);
    border-radius: 10%;
}

.menu a:hover {
    font-size: 1.9rem;
    background-color: rgba(18, 97, 128, 1);
    color: antiquewhite;
}

/* main-container div holding the content of the site*/
.main-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.main-container a {
    color: black;
}

.main-container a:hover {
    color: #f56FA1;
}

/* index.html pages rest of css */
#gallery {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#gallery figure {
	width:300%;
	position: relative;
	animation: 9s slider 2;
}


#gallery figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}

.slider {
    /* puts the button in the right corner of the div*/
    text-align: right;
}

.slider img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px #126180;
}

.slider .btns {
    background-color: #f56FA1;
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.slider a{
    text-decoration: none;
}
.slider a:hover {
    background-color: white;
    color: #f56FA1;
}

.slider i {
    color: #222;
}

.wrapper {
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}

.about p {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.15rem;
    line-height: 1.5em;
}

.btn a {
    text-decoration: none;
    color: antiquewhite;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 2rem;
    margin: 15px 0;
    font-weight: bold;
    color: #126180;
}

.form {
    background-color: #f56FA1;
    padding: 10px 0;
    position: relative;
}

.form .btn {
    padding: 10px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #126180;
    background-color: antiquewhite;
    font-size: 14px;
    position: relative;
    top: 90%;
    left: 38%;
}

input {
    width: 95%;
    margin: 8px 8px;
    padding: 5px;
    background-color: antiquewhite;
}

textarea {
    width: 95%;
    margin: 8px 8px;
    background-color: antiquewhite;
}

label {
    margin: 8px 8px;
}

iframe {
    width: 100%;
    height: 450px;
}



/* teams core-value*/
.core-value {
    margin-top: 40px;
    margin-bottom: 60px;
}

.core-value h2 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 1.5rem;
    color: #126180;
    line-height: 1em;
}

.core-value p {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.15rem;
    line-height: 1.8em;
}


/* employee card */
.team-heading h2 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 1.5rem;
    color: #126180;
    line-height: 1em;
}

.card {
    background-color: rgba(245, 111, 161, 0.1);
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 10px;
}

@keyframes scale {
	0%{
        transform: scale(.2);
        background-color: rgb(245, 111, 161,0.1);
        transition: linear .3s;
    }
    40%{
        transform: scale(.4);
        background-color: rgba(245, 111, 161, 0.4);
        transition: linear .3s;
    }
    80%{
        transform: scale(.6);
        background-color: rgba(245, 111, 161, 0.8);
        transition: linear .3s;
    }
    100%{
        transform: scale(.8);
        background-color: rgba(245, 111, 161, 1);
        transition: linear .3s;
    }
}
.card:hover{
    animation: 2s scale 1;
}

.card h3 {
    font-family: 'Playfair Display';
    color: #222;
    font-size: 1.5rem;
    padding: 10px 5px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #126180;
}

.card p {
    font-family: 'Open Sans', sans-serif;
    padding: 15px 5px;
    line-height: 1.5em;
    font-size: 1.15rem;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* styles for products items */
.products {
    background-color: rgba(245, 111, 161, 0.1);
    padding: 10px 5px;
    border-radius: 15px;
    border: 1px solid salmon;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.products h3 {
    font-family: 'Playfair Display';
    font-size: 1.15rem;
    padding: 0 8px 10px 8px;
    margin-bottom: 15px;
    font-style: normal;
    text-align: left;
}

.products ul li {
    font-size: 1rem;
    line-height: 1.5em;
    padding-left: 20px;
}

.circle-icon {
    text-align: center;
    padding: 5px;
}

.product-list i {
    color: grey;
    font-size: 5px;
}

.product-list h2 {
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    color: #126180;
    transition: ease-in 0.5s;
    margin: 0;
}

.product-list h2:hover {
    color: #f56FA1;
    text-decoration: underline;
    font-size: 2rem;
    padding: 8px;
}

/* styles the products images and display in flex  */
.product-photo {
    font-size: 1.5rem;
    padding: 10px 0;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.15em;
    font-weight: 800;
    margin: 20px 0;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: stretch;
}

.image {
    width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #126180;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* design the credit section of the page  */
.msg {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 7px;
}

.msg i {
    font-style: oblique;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Playfair Display';
}

.msg cite {
    line-height: 2rem;
}



/* styles the footer of the site */
.footer {
    background-color: #126180;
    color: #ffffff;
    padding: 15px 15px;
}

.footer p {
    text-align: center;
    margin-bottom: 10px;
}
.footer a{
    color: antiquewhite;
    text-align: center;
    font-size: 16px;
    transition:ease-in .4s;
    text-decoration: none;
}
.footer a:hover{
    font-size: 24px;
    color: aliceblue;
    text-decoration: underline;
}

/* Desktop design */

@media screen and (min-width:760px) {

    /* design the navigation bar for desktop*/
    .logo {
        width: 50%;
    }

    .menu {
        width: 45%;
        font-size: 1.15rem;
    }

    .menu a {
        float: right;
        text-align: right;
        font-size: 18px;
        font-weight: 900;
        padding: 25px 15px;
        text-decoration: none;
        color: #222;
        transition: ease-in 0.5s;
        background-color: rgba(18, 97, 128, 0.4);
        border-radius: 15%;
    }

    .navigation {
        width: 90%;
        margin: 0 auto;
    }
    /* set the layout of the main-container for desktop */
    .main-container {
        width: 90%;
        margin: 0 auto;
    }

    /* makes the contact and location side by side*/
    .contact {
        display: flex;
        flex-direction: row;
    }
    .cont-section {
        width: 50%;
    }
    .loc-section {
        width: 50%;
        margin-left: 8px;
    }
    iframe {
        height: 407px;
    }

    /* display the team members in grid and styles them*/
    .team-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "chef-1 chef-2"
            "chef-3 chef-4";
    }
    .chef-1 {
        grid-area: chef-1;
    }
    .chef-2 {
        grid-area: chef-2;
    }
    .chef-3 {
        grid-area: chef-3;
    }
    .chef-4 {
        grid-area: chef-4;
    }
    .card {
        margin: 0 5px 8px 5px;
    }

    /* display the products list in flex and styles them*/
    .items {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .product-list h2 {
        margin: 15px 0 0 0;
    }

    .circle-icon {
        margin-top: -7px;
    }

    .products {
        margin: 0 8px;
    }
}